*{
    margin: 0;
    padding: 0;

    
}

                                                /*NAVEGADOR*/

.header-container{
    width: 100%;
    background-color: #171810;
    height: 110px;
    position: fixed;
    top: 0;

    
}
nav{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 0;
    display:flex;
    justify-content: space-around;
}
nav::after{
    clear: both;
    content: "";
    display: block;
}
.nav-container {
    position: fixed;
    height: 200px;
    top: 0;
 }
 
 .nav-container ul {
   
     line-height: 100px;
     margin: 0;
     
    
 }
 
 .nav-container li {
     list-style: none;
     float: left;
     margin: 0 15px;
 }
 
 .nav-container li a {
     text-decoration: none;
     color: #666;
     transition: .5s;
     font-size: 20px;
     font-family: 'Amazon Ember', Arial, sans-serif;
 }
 
 .nav-container li a:hover {
     color: #3381f3;
 }

                                 /*LOGO*/
.logo-background{
    width: 90px;
    height: 90px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    transform: 0.4s;
    border-radius: 15px;
    
}
.logo-background:hover{
    border-style:solid;
    border-color: #3381f3;
    border-width: 1px;
    filter: brightness(0.8); 

}
.logo{
    width: 100%;
    height: 100%;
}
/*PEDIDOS*/
.devolucoes-pedidos{
    width: 90px;
    height: 60px;
    position: fixed;
    right: 350px;
    top: 20px;
    background-color: #171810;
    border: none;
}
.devolucoes-pedidos:hover{
    border-style: solid;
    border-color: #3381f3;
    border-width: 1px;
    border-radius: 5px;
}
.texto-pedidos{
    text-decoration: none;
    list-style: none;
    font-family: 'Amazon Ember', Arial, sans-serif;
    color: #666;
    font-size: 15px;
    
}
/*SubMenu*/
.nav-container ul{
    background-color: #171810;
}
.nav-container ul li a {
   display: inline;
   position: relative;

}
.nav-container ul ul{ 
    display:  none;
    position: absolute;
    width: 120px;
    height: 290px;
    
}
.nav-container ul li:hover ul{
    display: block;
    padding: 0;
    padding-bottom: 0;
    left: 1;
}
 /*Carrinho*/
.carrinho-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;
  
}
.nav-container-carrinho{
    display: flex;
    right: 20px;
    position: fixed;
    top: 0;

}
.nav-container-carrinho ul{
    float: right;
    height: 100px;
    line-height: 70px;
    margin: 0;
    padding: 0;
    
}
.nav-container-carrinho li{
    list-style: none;
    float: left;
    margin: 0 5px;
    
}
.nav-container-carrinho li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
    font-size: 15px;
    font-family: 'Amazon Ember', Arial, sans-serif;
}
.nav-container-carrinho li a:hover{
    color: #3381f3;

}

/*SubMenu Carrinho*/
.nav-container-carrinho ul{
    background-color: #171810;
    color:#666;
    
}
.nav-container-carrinho ul li a{
    display: inline;
    position: relative;
    
}
.nav-container-carrinho ul ul{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
   
}
.nav-container-carrinho ul li:hover ul{
    display: block;
    padding: 0;
    padding-bottom: 0;
    left: 1;
    top: 20px;
      
}
.cart-table{
    width: 100%;
    border-collapse: collapse;
   
}
.table-head-item{
    text-align: start;
    border: none;
    border-top: 1px solid #3381f3;
    border-bottom: 1px solid #3381f3;
    padding: 2;
    text-transform: uppercase;
    
}
.second-col .thrid-col{
    width: 30%;
}
.cart-product td{
    padding: 10px 0;
    border: none;
        
}
.product-identification{
    display: flex;
    align-items:center;
}
.cart-product-image{
    width: 80px;
    height: 90px;
    margin-left: 10px;
}
.cart-product-title{
    margin-left: 160px;
    font-size: 18px;
}
.cart-product-price{
    font-family: 'Amazon Ember', Arial, sans-serif ;
}
.product-qtd-input{
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #3381f3 ;
    text-align: center;
    background-color: #b6acac;
}
.remove-product-button{
    margin-left: 12px;
    background-color: red;
    color: white;
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
    transition: 0.2s;
}
.remove-product-button:hover{
    filter: brightness(0.8);  
}
.cart-total-container{
    border-top: 1px solid #3381f3;
    text-align: end;
    padding: 1px 16px 0 0;
    font-size: 18px;
    border-bottom: none;
    border-left: none ;
    border-right: none;
}
.cart-total-container strong{
    margin-right: 12px;
}
.purchase-button{
    display: flex;
    margin: 10px auto 0;
    background-color: #3381f3;
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
}
.purchase-button:hover{
    filter: brightness(0.8);
}

                                                    /*BANNER*/
.main-scroll{
    background-color: #f4f4f4;
    padding-top: 22px;
    padding-bottom: 22px;
}
.container-scroll-products::-webkit-scrollbar{
    height: 10px;
    background-color:#a0a0a0;
    border-radius: 10px;
    
}
.container-scroll-products::-webkit-scrollbar-thumb{
    background-color: #3381f3;
    border-radius: 10px;
}

.container-scroll-products{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 330px;
    margin: 7rem auto 0 auto;
    border-radius: 10px;
    display: flex;
    padding: 1rem;
    overflow-x:auto;
   
    
   
}
.scroll-products{
    min-width: 300px;
    max-height: 350px;
    background-color: white;
    border: solid 1px;
    margin: 2px;

    border: none;
    display: flex;
    overflow-x: auto;
}
.img-scroll-livro{
    width: 200px;
    height: 260px;
    margin: 10px;
      
}
.img-scroll-game{
    width: 230px;
    height: 290px;
    margin: 10px;
    margin-left: 30px;
      
}
.img-scroll-notebook{
    width: 280px;
    height: 200px;
    margin: 10px;
    padding-top: 30px;
      
}


                                                    /*OFERTAS*/
.main-body{
    background-color:#f4f4f4;
}

.ofertas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3381f3;
    height: 250px;
    padding-top: 0;
}
.oferta-produto{
    width: 150px;
    height: 150px;
    background-color: white;
    border-color: #171810;
    border: none;
    border-radius: 125px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Amazon Ember', Arial, sans-serif;
}
.oferta-produto img{
    width: 50px;
    height: 50px;
    padding: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 47px;   
}
.oferta-produto  a{
    text-decoration: none;
    color: #3f3f3f;
    transition: .5s;
    font-size: 20px;
}
.oferta-produto a:hover{
    color: white;
}
                                     /*PRODUTOS DIVERSOS*/
.strong-title{
    padding-top: 130px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color:#3f3f3f;
   
}
.container-product{
    justify-content: space-between;
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
}
.produtos-eletronicos{
    width: 600px;
    height: 300px;
    padding-bottom: 50px;
    padding-top: 20px;
    display:flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                                                                 
}
.produtos-livros{

    width: 600px;
    height: 360px;
    padding-bottom: 50px;
    padding-top: 20px;
    display:flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                                                 
}
.produtos-jogos{
    
    width: 600px;
    height: 360px;
    padding-bottom: 50px;
    padding-top: 20px;
    display:flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                                                 
}
.img-fundo{
                                    
    width: 200px;
    height: 200px; 
    margin: 25px;                               
}
.img-informatica{
    width: 100%;
    height: 100%;
    
    
}
.img-livro{
    width: 100%;
    height: 300px;
    
}
.img-game{
    width: 100%;
    height: 300px;
    
}
.discricao-produto{
    color:#666;
    font-family: "Amazon Ember", Arial, sans-serif;
    width: 300px;
    height: 250px;
    padding-top: 20px;
    margin-bottom: 100px;
                                    
}
.button-saiba-mais{
    display:flex;
    margin: 7px ;
    background-color: #3381f3;
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 16px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    width: 75px;
}
.button-saiba-mais:hover{
    filter: brightness(0.8);
}
                /* botão whatsapp*/
.button-whatsapp{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 15px;
   
}
            /* botão voltar*/
.button-return{
    background-color: #3381f3;
    width: 100%;
    height: 30px;
    text-align:center;
    font-family: "Amazon Ember", Arial, sans-serif;
    text-decoration: none;
    color: white;
    border: none;
    transition: 0.2s;
}
.button-return:hover{
    filter: brightness(0.8);
}

                                     /*RODAPÉ*/

.rodape{
    background-color:#171810;
    color: #666;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    position: relative;
    width: 100%;
    padding-top: 30px;
    text-align: center;

}
/* RESPONSIVIDADE*/

@media(max-width:1280px){
    .nav-container{
    position: fixed;
    margin-left: 0px;
    align-items: center;
    

    }
    .nav-container li{
        list-style: none;
        float: left;
        margin: 0 5px;
        
    }
    .nav-container li a {
        text-decoration: none;
        color: #666;
        transition: .5s;
        font-size: 14px;
        font-family: 'Amazon Ember', Arial, sans-serif;
    }
    /*PRODUTOS*/
    .container-product{
        justify-content: space-between;
        display:block;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 100px;
    }
    .produtos-eletronicos{
        width: 370px;
        height: 350px;
        padding-bottom: 40px;
        padding-top: 20px;
        display:flex;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        
                                                                     
    }
    .produtos-livros{
    
        width: 370px;
        height: 370px;
        padding-bottom: 50px;
        padding-top: 20px;
        display:flex;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
                                                                     
    }
    .produtos-jogos{
        
        width: 370px;
        height: 370px;
        padding-bottom: 50px;
        padding-top: 20px;
        display:flex;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
                                                                     
    }
    .img-fundo{
        width: 70px;
        height: 200px;
    }
    .img-livro {
        width: 90px;
        height: 150px;
        margin: 0;
        object-fit: cover;
    
    }
    .img-informatica {
        width: 80px;
        height: 110px;
        margin-left: 1px;
      
    
    }
    .img-game{
        width: 60px;
        height: 80px;
        margin-right: 0; 
        
    }
    /*CARRINHO*/
    .nav-container-carrinho{
    
        position: fixed;
        right: 1px;
        margin-top: 5px;   

    
    }
    /*PRODUTOS*/
    .oferta-produto{
        width: 120px;
        height: 120px;
       
    }
    .oferta-produto img{
        width: 50px;
        height: 50px;
        padding: auto;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;
        padding-top: 35px;
        padding-left: 35px;
        
    }
    .devolucoes-pedidos{
        width: 79px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 310px;
        background-color: #171810;
        border: none;
        border-radius: 10px;
    }
    .devolucoes-pedidos:hover{
        border-style: solid;
        border-color: #b6acac;
        border-width: 1px;
        border-radius: 10px;
    }
    .texto-pedidos{
        text-decoration: none;
        list-style: none;
        font-family: 'Amazon Ember', Arial, sans-serif;
        color: #666;
        font-size: 12px;
        
    }
}